$yellow: #ffdd40;
$white-color: #ffffff;
$black-bg: #131417;
$black-editor: #252830;
$blue: #76daff;
$blacken-white: #e3e4e8;
$black-panel: hsl(225, 6%, 25%);
$red: #f06529;
$icon-color:#323237;
$btn-bg-white:#d6d6d6;